.btn-custom{
    display: block;
    margin: 0 auto ;
 
}
.text-des{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display SC';
    font-weight: 700 ;
}
.form-custome{
    border: solid #d84315;
    border-radius: 20px;

}