.input-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    
}
.register-custome{
    width: 500px;
    height: 600px;
    border: solid lightblue;
    border-radius:15px;

}
.page{
    width:500px;
    margin: 0 auto;
    margin-top: 20px;
}