.link-custome{
    text-decoration: none;
    text-align: left;
    justify-content: left;
}
.login-custome{
    width: 400px;
    height: 350px;
    border: solid lightskyblue;
    border-radius: 15px;

}
.checkbox-link-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.page-custome{
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    
}
